body{
    font-family: 'Open Sans', sans-serif;
    background-color: #d46401;
    font-weight: bold;
    color: #ffffff;
    text-align: justify;
}

.navbar {
    background-color: #df0932;
    color: #ffffff;
}

.navbar-brand {
    font-size: 22px;
}

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 10%;
    height: 400px;
}

.imagem-carrossel-5 {
    object-fit: cover;
    object-position: 0 40%;
    height: 400px;
}

.esp1 {
    width: 90%;
    margin: 0 5% 0 5%;
}

.esp1 > h1 {
    font-weight: bold;
    font-size: 32px;
}

.esp1 > p {
    font-weight: bold;
    font-size: 18px;
}

.esp {
    margin: 0 5% 0 5%;
    font-size: 18px;
}

.titulo {
    font-size: 32px;
}

.cor-rodape {
    background-color: #df0932;
}